.footer__copyright {
  margin: 0;
  padding: 0;
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    margin-top: 20px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin: 0;
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 690px) {
  .footer__copyright {
    font-size: 10px;
    line-height: 12px;
  }
}
