@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-text/intro__list-text.css);

.intro {
  width: 92.5%;
  max-width: 984px;
  min-width: 288px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 92px;
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    margin-top: 64px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro {
    width: 93.75%;
    justify-content: center;
    margin-top: 88px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .intro {
    width: 90.625%;
    justify-content: start;
    margin-top: 92px;
  }
}
