.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.4s;
  margin: 0;
  padding: 0;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 424px) {
  .place__link {
    display: none;
  }
}
